.nav-menu.show {
  left: 0;
}

.navbar {
  z-index: 1;
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(77, 76, 76, 0.5);
}

a {
  text-decoration: none !important;
  color: #000;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 10px 0;
}

.nav-link {
  display: block;
  color: #000;
  /* ou "black" */
  padding: 10px;
  transition: all 0.3s ease-in-out;
}


.nav-link,
ul,
li {
  display: block;
  color: #333333;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.nav-link:hover {
  background-color: #555;
}

@media screen and (min-width: 772px) {
  .nav-list li {
    display: inline-block;
    margin-right: 20px;
  }
}

@media (min-width: 772px) {
  .nav-list li {
    background-color: #cec6c600;
    transition: background-color 0.3s ease-in-out;
  }

  .nav-list li:hover {
    background-color: #807d7d;
  }
}

@media (min-width: 768px) {
  .nav-list li {
    background-color: #cec6c600;
    transition: background-color 0.3s ease-in-out;
  }

  .nav-list li:hover {
    background-color: #807d7d;
  }
}


.nav-list {
  left: -103%;
  width: 100%;
}

.nav-item {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 772px) {
  .nav-link,
  ul,
  li {
    border-radius: 25px;
  }
}

@media screen and (max-width: 772px) {
  .nav-list li {
    background-color: #cec6c600;
    transition: background-color 0.3s ease-in-out;
  }
  .nav-list li:hover {
    background-color: #807d7d;
    border-radius: 25px;
  }
}

