.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.card-title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.card-subtitle {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.card-link {
  color: #007bff;
  text-align: justify;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media only screen and (max-width: 794px) {
  .projects-container {
    justify-content: center;
  }
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}


.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.social_github {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.social_github svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  fill: currentColor;
  transform-origin: center;
}

/* Definir a animação tremor */
@keyframes tremor {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-2px, -2px);
  }

  40% {
    transform: translate(2px, -2px);
  }

  60% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* Aplicar a animação ao elemento */
.social_github svg {
  animation-name: tremor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}