 #SwiperShuffled {
    width: 240px;
    height: 320px;
  } 

  .container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .about-text {
    margin-bottom: 20px; /* Adiciona espaço entre o texto e o card */
    padding-left: 8%;
  margin-bottom: 8%;
  }
  
  .card-container {
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .card-container {
      width: 100%;
    }
  }
  

   .shuffledSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 30%;

  } 
  
  .shuffledSlide:nth-child(1n) {
    background-color: rgb(54, 94, 77);
  }
  #colorCard{
    background-color: rgb(180, 10, 47);
  }
  .shuffledSlide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .shuffledSlide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .shuffledSlide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }
  
  .shuffledSlide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }
  
  .shuffledSlide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .shuffledSlide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .shuffledSlide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .shuffledSlide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .shuffledSlide:nth-child(10n) {
    background-color: rgb(206, 17, 17);
  }
  