body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

.nav-menu {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-list.show-menu {
    left: 0;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  padding: 5px;
}

.nav-link:hover {
  border-bottom-color: #333;
}